/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

/* Estilos del contenedor del formulario */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilos de las etiquetas */
label {
    margin: 10px 0 5px;
}

/* Estilos de los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tama침o total del campo */
}

/* Estilos para cuando los campos est치n en foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #1b06da;
    outline: none;
    box-shadow: 0 0 3px rgba(27, 6, 218, 0.2); /* Agrega una sombra ligera para indicar el foco */
}

/* Estilos del bot칩n */
button {
    background-color: #2a1fbd;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

/* Estilos de los mensajes de error */
.error-message {
    color: red;
    font-size: 0.875em;
    display: none; /* Oculta mensajes de error por defecto */
    margin: 0 0 10px;
}

/* Estilos del contenedor de la lista de usuarios */
.user-list-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

/* Estilos de la tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Estilos del bot칩n de carga de usuarios */
#loadUsers {
    background-color: #2a1fbd;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

#loadUsers:hover {
    background-color: #1b06da;
}
